/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background:#6cf;
}
.validacion
{
  color : red;

}

.quedatepegado {
  margin: 0;
  padding: 0;
  width: 100%;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

.adm1_marcoAdministrarCliente
{
 width: 450px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 10px;
  min-height: 500px;

}

.adm1_marcoAdministrarServicios
{
  max-width: 450px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 10px;
  min-height: 400px;
}


.pagos_img_iconos_resumen
{
height: 25px;
width: 25px;
}